
<h1 class="mb-4">Main Page</h1>

<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-header">
                Checkout form
            </div>
            <div class="card-body">

                <%= form_with url: invoice_path, id: "invoice-form", method: :get do |f| %>

                    <div class="mb-3 row">
                        <%= f.label :price, "Price:", class: "col-sm-4 col-form-label" %>
                        <div class="col-sm-8">
                            <%= f.number_field :price, class: "form-control", placeholder: "100" %>
                        </div>
                    </div>
                    <div class="mb-3 row">
                    <%= f.label :currency, "Currency:", class: "col-sm-4 col-form-label" %>
                        <div class="col-sm-8">

                        <%= f.select :currency, @currencies, {}, {class: "form-select", :selected => @currencies[0]}  %>

                        </div>
                    </div>
                    <%= f.submit "Submit", class: "btn btn-primary" %>
                <% end %>

            </div>
        </div>
    </div>
</div>

